* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

body{
    box-sizing: content-box;
    background-color: #0B0818;
}


header .navBarLogo {
    width: 100%;
    padding: 25px;
    background-color: #0B0818;
    position: fixed;
    z-index: 400; 
}
  header, main {
     overflow-x: hidden;
 } 

header .navBarLogo .navbar ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 25px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 15px;
    text-align: right;            
}

ul li a:after {
    content: '';    
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #EA4E1B;
    transition: width .4s ease;
  }
  
  ul li a:hover{
    font-weight: bolder;
  }

  ul li a:hover:after {    
    width: 100%;
    left: 0;
    background: #EA4E1B;
  } 

  /* servicios diseño */

.subHeader__diseño {
    min-height: 110vh;
    width: 100vw;
    color: white;    
    font-family: 'Raleway', sans-serif;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


#background-video {
    grid-column: 2/3;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.h1__content {
    width: 800px;
    height: 400px;
    padding: 50px;
    border-radius: 15px;
    background-color: #0b081883;
    
}

.subHeader__diseño .mainTitle__diseño h1 {
    line-height: 31,12px;
    font-size: 18px;
    font-weight: 400;
}

.subHeader__diseño .mainTitle__diseño h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 62px;
}

.subHeader__diseño .mainTitle__diseño p {
    line-height: 31,12px;
    font-size: 18px;
    font-weight: 400;
}


  .diseño__main{
    background-color: #FFFDF8;
}

.section1__diseño {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.section1__diseño .container {
    height: 200px;
    width: 400px;
}
 
.section1__diseño h2{
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    line-height: 16px;
    
}

.section1__diseño p {
    font-family: 'Raleway', sans-serif; 
    font-size: 22px;
    line-height: 30px;
    font-weight: 800;
}

.list__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    align-items: center;
}


.list__section h3 {    
    font-family: 'Raleway', sans-serif; 
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;

}

.list__section ol li {    
        font-family: 'Raleway', sans-serif; 
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    
}

.container__section2 {
    display: flex;
    justify-content: center;
}

.section2__diseño {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50px;
    height: 300px;
    width: 900px;
    padding: 20px;
    border-radius: 25px;
    background-color: #0B0818
}

.section2__diseño h2 {
        font-family: 'Raleway', sans-serif; 
        font-size: 32px;
        line-height: 50px;
        font-weight: 400;    
}

.section2__diseño h3 {
    font-family: 'Raleway', sans-serif; 
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;    
}

.section2__diseño button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    border: #FB5B22;
    background-color: #FB5B22;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* CARDS */

.section2 {
    margin-top: 100px;
    min-height: 100vh;    
    color: #0B0818;
    background-color: #FFFDF8;
    font-family: 'Raleway', sans-serif;
}



.section2 .secTitle {
    font-size: 1rem;
    line-height: 30px;
    color: #FB5B22;
    margin-left: 20vw;
}

.section2 .secSubtitle {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 56px;
    margin-left: 20vw;
    margin-bottom: 200px;
}

.section2 .sectionCards {    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-content: center;   
    justify-content: center;
}

.section2 .sectionCards .card {   
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    position: relative; 
    width: 300px;
    height: 430px;
    border-radius: 20px;
    background-color: #2C2740;
    color: white;
    padding: 60px 30px;
    text-align: center;
    justify-self: center;
}

@media (max-width: 1300px){
    .section2 .sectionCards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);  
        row-gap: 100px;
    }
}

@media (max-width: 650px){
    .section2 .sectionCards{
        display: grid;
        grid-template-columns: 1fr;  
        row-gap: 100px;
        justify-content: center;
        align-items: center;
    }
}

.card .cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    top: -10%;     
    left: Calc(50% - 40px);
    width: 80px;
    height: 80px;
    background-color: #0B0818;  
    border-radius: 20px;  
}


.cardImg1 {
    
    box-shadow: 5px 5px 20px rgba(253, 179, 48, 0.15);    
}

.cardImg1 i {
    color: #F29200;
    font-size: 1rem;
}

.cardImg1:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 42px rgba(253, 179, 48, 0.15);
}

.cardImg2 {    
    box-shadow: 5px 5px 20px rgba(117, 181, 241, 0.26);
}

.cardImg2 i {
    color: #75B5F1;
    font-size: 1rem;
}

.cardImg2:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 42px rgba(117, 181, 241, 0.26);
}

.cardImg4 {
    box-shadow: 5px 5px 20px rgba(235, 87, 96, 0.15);
}

.cardImg4 i {
    font-size: 1.5rem;
    color: #EB5760;
}

.cardImg4:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 42px rgba(235, 87, 96, 0.15);
}

.cardTitle h2{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 35px;
}

.cardBody p {
    font-size: 1rem;
    line-height: 140.4%;
}
